SECRET_KEY=mysecreectkeyTa.1006877358
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=postgres
POSTGRES_USER=postgres
POSTGRES_PASSWORD=1234
SIMULATION_INTERVAL=5
SIMULATOR_ENABLED=true
FLASK_DEBUG=false
PORT=5000

